.cart-no {
    position: absolute;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    font-size: 0.8em;
    background-color: royalblue;
    color: white;
    text-align: center;
    top:-5px;
    right:32px;
}